<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#
Data Science Tools and Ecosystem

##
In this notebook, Data Science Tools and Ecosystem are summarized:

#
__Objectives:__

    -Some of the popular languages that Data Scientists use are
    -Some of the commonly used libraries used by Data Scientists include
    -Data Science Tools

##
Some of the popular languages that Data Scientists use are:


1)Python

2)Sql

3)R

##
Some of the commonly used libraries used by Data Scientists include:

1)NumPy

2)Pandas

3)Scikit learn

4)Matplotlib

5)Seaborn

#
Data Science Tools

###
Below are a few examples of evaluating arithmetic expressions in Python:

2+3*5

45(56-9)/3

56^8

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
mins=200
mins/60

3.3333333333333335

##

Author
Nisha